{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shopping_cart/address

    This template will render the address selection/input form during checkout

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id

    Example context (json):
    {
        "saved_addresses": [
           {"city":"City", "zip":"1234", "address", "123 Abc Street", "country": "Country"}
        ]
    }

}}

{{#saved_addresses}}
    <div class="addressselection mb-4">
        {{#required_addresses}}
            <div class="requiredaddress mb-3">
                <h4>{{#str}} addresses:select, local_shopping_cart, {{requiredaddress}} {{/str}}</h4>
                {{#saved_addresses}}
                    <div class="savedaddress">

                    </div>
                {{/saved_addresses}}
                {{^saved_addresses}}
                    <a href="#newaddress">{{#str}} addresses:addnew, local_shopping_cart{{/str}}</a>
                {{/saved_addresses}}
            </div>
        {{/required_addresses}}
    </div>
{{/saved_addresses}}
<div class="newaddress col-lg-7 pr-0 pl-0">
    <a id="newaddress"></a>
    {{#saved_addresses}}
    {{! only show this heading if we have the address selection visible above }}
        <h3>{{#str}} addresses:newaddress, local_shopping_cart {{/str}}</h3>
    {{/saved_addresses}}

    <form>
        <div class="form-group">
            <label for="inputState">{{#str}} addresses:newaddress:state:label, local_shopping_cart {{/str}}</label>
            <select id="inputState" class="form-control">
                <option>{{#str}} addresses:newaddress:state:choose, local_shopping_cart {{/str}}</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputAddress">{{#str}} addresses:newaddress:address:label, local_shopping_cart {{/str}}</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="{{#str}} addresses:newaddress:address:placeholder, local_shopping_cart {{/str}}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="inputAddress2" placeholder="{{#str}} addresses:newaddress:address2:placeholder, local_shopping_cart {{/str}}">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputZip">{{#str}} addresses:newaddress:zip:label, local_shopping_cart {{/str}}</label>
                <input type="text" class="form-control" id="inputZip" placeholder="{{#str}} addresses:newaddress:zip:placeholder, local_shopping_cart {{/str}}">
            </div>
            <div class="form-group col-md-8">
                <label for="inputCity">{{#str}} addresses:newaddress:city:label, local_shopping_cart {{/str}}</label>
                <input type="text" class="form-control" id="inputCity" placeholder="{{#str}} addresses:newaddress:city:placeholder, local_shopping_cart {{/str}}">
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="setAsDefault">
                <label class="form-check-label" for="setAsDefault">
                    {{#str}} addresses:newaddress:checkasdefault, local_shopping_cart {{/str}}
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{#str}} addresses:newaddress:submit, local_shopping_cart {{/str}}</button>
    </form>

</div>