{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/shopping_cart_popover

    This template will render the shopping_cart popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
        "userid": 3,
        "urls": {
            "preferences": "http://www.moodle.com"
        }
    }

}}
<style>
#cachiertabs span.nav-link {
    outline: 0;
    box-shadow: none !important;
}
#cachiertabs .active {
    color: #000000
}

#cachiertabs li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative
}

#cachiertabs li span:before {
    position:relative;
    z-index: 3;
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
    text-align: center;
}

#cachiertabs li span:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 34px;
    z-index: 2;
}

#cachiertabs {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#cachiertabs #user-tab:before {
    font-family: FontAwesome;
    content: "\f007";
}

#cachiertabs #cart-tab:before {
    font-family: FontAwesome;
    content: "\f07a";
}

#cachiertabs #checkout-tab:before {
    font-family: FontAwesome;
    content: "\f09d"
}


#cachiertabs #success-tab:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#cachiertabs li span.active:before,
#cachiertabs li span.active:after,
#cachiertabs li span.success:before,
#cachiertabs li span.success:after {
    background: var(--success);
}

.shopping-cart-items {
    list-style: none;
    padding-left: 0px;
}
.autocomplete {
    width: max-content;
}

#cachiertabs span.disabled {
   font-style: normal;
}

#page-local-shopping_cart-checkout #region-main-box {
   border: none !important;
}

#page-local-shopping_cart-checkout .wunderbyteTableJavascript ul {
  padding: 0;
  border-top: 1px solid var(--primary);
}
#page-local-shopping_cart-checkout #shoppingcartfilterinput {
    margin-top:20px;
    width: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
}

#page-local-shopping_cart-checkout #checkout .shopping-cart-items{
  padding:20px;
  margin: 20px;
  border-top: 1px dashed black;
}

#page-local-shopping_cart-checkout #region-main-box #litotalprice {
  font-size:20px;
  color: var(--warning);
}

#page-local-shopping_cart-checkout #region-main-box #success #litotalprice {
  color: var(--success);
}

</style>
<div class="container">
   <div class="row">
      <div class="col-md-8">
         <div class="card">
            <div class="card-header p-0">
               {{#userid}}
               <div class="text-center bg-primary text-white">
                  <h2 class="label label-info">{{userfirstname}} {{userlastname}} </h2>
                  <p>{{useremail}}</p>
               </div>
               {{/userid}}
                {{^userid}}
               <div class="text-center bg-primary text-white">
                  <h2 class="label label-info">No User selected</h2>
                  <p>Select a user ...</p>
               </div>
               {{/userid}}
               <ul class="nav m-0" id="cachiertabs" role="tablist">
                  <li class="nav-item" role="presentation">
                     <span class="nav-link {{^userid}}active{{/userid}} {{#userid}}success{{/userid}}" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="home" aria-selected="true"></span>
                  </li>
                  <li class="nav-item" role="presentation">
                     <span class="nav-link {{#userid}}active{{/userid}} {{^userid}}disabled{{/userid}}" id="cart-tab" data-toggle="tab" href="#cart" role="tab" aria-controls="cart" aria-selected="false"></span>
                  </li>
                  <li class="nav-item" role="presentation">
                     <span class="nav-link disabled" id="checkout-tab" data-toggle="tab" href="#checkout" role="tab" aria-controls="checkout" aria-selected="false"></span>
                  </li>
                  <li class="nav-item" role="presentation">
                     <span class="nav-link disabled" id="success-tab" data-toggle="tab" href="#success" role="tab" aria-controls="success" aria-selected="false"></span>
                  </li>
               </ul>
            </div>
            <div class="card-body">
               <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade {{^userid}}show active{{/userid}}" id="user" role="tabpanel" aria-labelledby="user-tab">
                     Select user
                     <div class="autocomplete" style="width:300px;">
                        <form  method="get" action="#cart">
                           <input id="myInput" autocomplete="off"  type="text" name="user" placeholder="User">
                           <input id="useridfield" type="hidden" name="userid"/>
                           <input type="submit" name="submit"/>
                        </form>
                     </div>
                  </div>
                  <div class="tab-pane fade {{#userid}}show active{{/userid}}" id="cart" role="tabpanel" aria-labelledby="cart-tab">
                     <a class="btn btn-primary" id="checkout-btn" data-toggle="tab" href="#checkout" role="tab" aria-controls="checkout" aria-selected="false">{{#str}} checkout, local_shopping_cart {{/str}}</a>
                     <p><input type="text" id="shoppingcartfilterinput" placeholder="Search for item.."></p>
                     {{#additonalcashiersection}}
                     {{{additonalcashiersection}}}
                     {{/additonalcashiersection}}
                  </div>
                  <div class="tab-pane fade" id="checkout" role="tabpanel" aria-labelledby="checkout-tab">
                     <h2 id="totalprice" class="text-warning text-center"><b>{{price}}</b></h2>
                     <a class="btn btn-danger" id="checkout-btn" data-toggle="tab" href="/local/shopping_cart/cashier.php" role="tab" aria-controls="checkout" aria-selected="false"><i class="fa fa-times" aria-hidden="true"> </i> {{#str}} cancel, core {{/str}}</a>
                     <a class="btn btn-success" id="buy-btn" data-toggle="tab" href="#success" role="tab" aria-controls="checkout" aria-selected="false"><i class="fa fa-check-square-o" aria-hidden="true"> </i> {{#str}} paid, local_shopping_cart {{/str}}</a>
                     {{> local_shopping_cart/shopping_cart_items }}
                  </div>
                  <div class="tab-pane fade" id="success" role="tabpanel" aria-labelledby="success-tab">
                     <div class="row">
                        <div class="col">
                           <div>
                              <h2 id="totalprice" class="text-success text-center"><b>{{price}}</b></h2>
                              <p class="text-center">{{#str}} paymentconfirmed, local_shopping_cart {{/str}}</p>
                              <a onclick="window.print();return false;" class="btn btn-success"><i class="fa fa-2x fa-print"></i> Print</a>
                              <a href="/local/shopping_cart/cashier.php" class="btn btn-success">{{#str}} restart, local_shopping_cart {{/str}}</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {{#userid}}
      <div class="col-md-4">
         <div class="card">
            <div class="card-header text-center bg-primary text-white">
               <i class="fa fa-shopping-cart" aria-hidden="true"></i>
               <b class="d-block">Shopping Cart</b>
            </div>
            <div class="card-body">
                {{> local_shopping_cart/shopping_cart_items }}
            </div>
         </div>
         <div class="card mt-4">
            <div class="card-header text-center bg-primary text-white">
               <i class="fa fa-history fa-2x" aria-hidden="true"></i>
               <b class="d-block">{{#str}} previouspurchases, local_shopping_cart {{/str}}</b>
            </div>
            <div class="card-body">
               <div class="history">
                  {{> local_shopping_cart/history }}
               </div>
            </div>
         </div>
      </div>
      {{/userid}}
   </div>
</div>

{{#js}}
    require(['local_shopping_cart/cachier'], function(cachier) {
      cachier.init({{{users}}}, {{userid}});
    });
{{/js}}

