{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/shopping_cart_popover

    This template will render the shopping_cart popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
        "userid": 3,
        "urls": {
            "preferences": "http://www.moodle.com"
        }
    }

}}

<div id="shopping_cart-cashiers-section">
   <div class="row">
      <div class="col-md-8">
         <div class="card">
            <div class="card-header p-0">
               {{#userid}}
               <div class="text-center bg-primary text-white">
                  <h2 class="label label-info">{{userfirstname}} {{userlastname}} </h2>
                  <p>{{useremail}}</p>
               </div>
               {{/userid}}
                {{^userid}}
               <div class="text-center bg-primary text-white">
                  <h2 class="label label-info">{{#str}} nouserselected, local_shopping_cart {{/str}}</h2>
                  <p>{{#str}} selectuser, local_shopping_cart {{/str}}</p>
               </div>
               {{/userid}}
               <ul class="nav m-0" id="cashiertabs" role="tablist">
                  <li class="nav-item" role="presentation">
                     <span class="nav-link {{^userid}}active{{/userid}} {{#userid}}success{{/userid}}" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="home" aria-selected="true"></span>
                  </li>
                  <li class="nav-item" role="presentation">
                     <span class="nav-link {{#userid}}active{{/userid}} {{^userid}}disabled{{/userid}}" id="cart-tab" data-toggle="tab" href="#cart" role="tab" aria-controls="cart" aria-selected="false"></span>
                  </li>
                  <li class="nav-item" role="presentation">
                     <span class="nav-link disabled" id="checkout-tab" data-toggle="tab" href="#checkout" role="tab" aria-controls="checkout" aria-selected="false"></span>
                  </li>
                  <li class="nav-item" role="presentation">
                     <span class="nav-link disabled" id="success-tab" data-toggle="tab" href="#success" role="tab" aria-controls="success" aria-selected="false"></span>
                  </li>
               </ul>
            </div>
            <div class="card-body">
            {{! 1. Tab which lets you chose the user }}
               <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade {{^userid}}show active{{/userid}}" id="user" role="tabpanel" aria-labelledby="user-tab">
                     {{#str}} selectuser, local_shopping_cart {{/str}}
                     <div class="autocomplete" style="width:300px;">
                        <form  method="get" action="#cart">
                           <input id="searchuser" autocomplete="off"  type="text" name="user" placeholder="{{#str}} user, local_shopping_cart {{/str}}">
                           <input id="useridfield" type="hidden" name="userid"/>
                           <input type="submit" name="submit"/>
                        </form>
                     </div>
                  </div>
            {{! 2. Tab which lets you chose the item }}
                  <div class="tab-pane fade {{#userid}}show active{{/userid}}" id="cart" role="tabpanel" aria-labelledby="cart-tab">
                     <a class="btn btn-primary" id="checkout-btn" data-toggle="tab" href="#checkout" role="tab" aria-controls="checkout" aria-selected="false">{{#str}} checkout, local_shopping_cart {{/str}}</a>
                     <p class="additonalcashiersection">
                     {{#additonalcashiersection}}
                     {{{additonalcashiersection}}}
                     {{/additonalcashiersection}}
                     </p>
                  </div>
            {{! 3. Tab before checkout }}
                  <div class="tab-pane fade" id="checkout" role="tabpanel" aria-labelledby="checkout-tab">´
                     <div class="row">
                        <div class="col-md-12">
                           <div class="sc_price_label" data-userid="{{userid}}">
                              {{> local_shopping_cart/price_label }}
                           </div>
                        </div>
                     </div>
                     <div>
                        <a class="btn btn-danger d-block my-4 mx-2" id="cashpayment-btn" data-toggle="tab" href="/local/shopping_cart/cashier.php" onclick="location.reload()"role="tab" aria-controls="cashpayment" aria-selected="false"><i class="fa fa-times" aria-hidden="true"> </i> {{#str}} cancel, core {{/str}}</a>
                        <a class="btn btn-success d-block my-4 mx-2 buy-btn" data-paymenttype="cashpayment" data-toggle="tab" href="#success" role="tab" aria-controls="cashpayment" aria-selected="false"><i class="fa fa-check-square-o" aria-hidden="true"> </i> {{#str}} payedwithcash, local_shopping_cart {{/str}}</a>
                        <a class="btn btn-success d-block my-4 mx-2 buy-btn" data-paymenttype="creditcardpayment" data-toggle="tab" href="#success" role="tab" aria-controls="creditcardpayment" aria-selected="false"><i class="fa fa-check-square-o" aria-hidden="true"> </i> {{#str}} payedwithcreditcard, local_shopping_cart {{/str}}</a>
                        <a class="btn btn-success d-block my-4 mx-2 buy-btn" data-paymenttype="debitcardpayment" data-toggle="tab" href="#success" role="tab" aria-controls="debitcardpayment" aria-selected="false"><i class="fa fa-check-square-o" aria-hidden="true"> </i> {{#str}} payedwithdebitcard, local_shopping_cart {{/str}}</a>
                     </div>
                     {{> local_shopping_cart/shopping_cart_items }}
                  </div>
            {{! 4. Tab to show success }}
                  <div class="tab-pane fade" id="success" role="tabpanel" aria-labelledby="success-tab">
                     <div class="row">
                        <div class="col">
                           <div>
                              <p class="text-center">{{#str}} paymentconfirmed, local_shopping_cart {{/str}}</p>
                              <p>
                                 {{> local_shopping_cart/shopping_cart_items }}
                              </p>
                              <a href="/local/shopping_cart/receipt.php?id=" id="printbtn" class="btn btn-success"><i class="fa fa-2x fa-print"></i> Print</a>
                              <a href="/local/shopping_cart/cashier.php" class="btn btn-success">{{#str}} restart, local_shopping_cart {{/str}}</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {{^userid}}
      {{! Without userid sidebar contains only report links. }}
      <div class="col-md-4">
         <div id="shopping-cart-reports" class="card">
            <div class="card-header text-center bg-primary text-white">
               <i class="fa fa-table" aria-hidden="true"></i>
               <b class="d-block">{{#str}} reports, local_shopping_cart {{/str}}</b>
            </div>
            <div class="card-body">
               <a class="btn btn-secondary" href="/local/shopping_cart/report.php">
                  <i class="fa fa-table" aria-hidden="true"></i> {{#str}} cashreport, local_shopping_cart {{/str}}
               </a>
            </div>
         </div>
      </div>
      {{/userid}}
      {{#userid}}
      {{! Sidebar with cart items and hitory items }}
      <div class="col-md-4">
         <div id="shopping_cart-cashiers-cart" class="card">
            <div class="card-header text-center bg-primary text-white">
               <i class="fa fa-shopping-cart" aria-hidden="true"></i>
               <b class="d-block">Shopping Cart</b>
            </div>
            <div class="card-body">
                {{> local_shopping_cart/shopping_cart_items }}
            </div>
         </div>

         {{! We use the card with the history items more than once. }}
         {{> local_shopping_cart/history_card }}

         <div id="shopping-cart-reports" class="card mt-4">
            <div class="card-header text-center bg-primary text-white">
               <i class="fa fa-table" aria-hidden="true"></i>
               <b class="d-block">{{#str}} reports, local_shopping_cart {{/str}}</b>
            </div>
            <div class="card-body">
               <a class="btn btn-secondary" href="/local/shopping_cart/report.php">
                  <i class="fa fa-table" aria-hidden="true"></i> {{#str}} cashreport, local_shopping_cart {{/str}}
               </a>
            </div>
         </div>
      </div>
      {{/userid}}
   </div>
</div>

{{#js}}
    require(['local_shopping_cart/cashier'], function(cashier) {
      cashier.init({{{users}}}, {{userid}});
    });
{{/js}}

