{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/shopping_cart_popover

    This template will render the shopping_cart popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
       "count":0,
       "maxitems":"10",
       "items":[
            {
                "itemid": 3,
                "userid":3588,
                "componentname": "mod_booking",
                "area": "main",
                "price": 133,
                "expirationtime": 1642155164,
                "itemname": "Tenniscourse",
                "currency": "EUR",
                "iscashier": false,
                "nodelete": false
    	    }
       ],
       "price":0,
       "initialtotal":0,
       "deductible":0,
       "checkboxid":"af7a6b",
       "usecredit":1,
       "expirationtime":1667988637,
       "checkouturl":"http:\/\/localhost\/400_moodle\/local\/shopping_cart\/checkout.php",
       "currency":"EUR",
       "credit":0,
       "remainingcredit":0,
       "buyforuserid":3588,
       "userid":3588,
       "userlastname":"Faulkner",
       "userfirstname":"Graiden",
       "useremail":"Graiden.Faulkner@mailinator.com",
       "historyitems":[
        {
            "id":"2",
            "userid":"3588",
            "itemid":"1",
            "itemname":"my test item 1",
            "price":"10.00",
            "tax":"2.00",
            "discount":"0.00",
            "currency":"EUR",
            "componentname":"local_shopping_cart",
            "identifier":"1668028796",
            "payment":"3",
            "paymentstatus":"2",
            "usermodified":"2",
            "timecreated":"1668028796",
            "timemodified":"1668028796",
            "canceluntil":"1669238377",
            "serviceperiodstart":"0",
            "serviceperiodend":"0",
            "gateway":null,
            "date":"2022-11-09",
            "canceled":false,
            "canceluntilstring":"2022-11-23",
            "canceluntilalert":"Stornieren ist nicht m\u00f6glich.",
            "buttonclass":"disabled hidden",
            "paymentstring":"in bar an der Kassa"
        }
       ],
       "canpayback":true,
       "additonalcashiersection":"<div class=\"text_to_html\">..<\/div>",
       "wwwroot":"http:\/\/localhost\/400_moodle",
       "users":"[\"Caldwell Illana (Illana.Caldwell@mailinator.com) vatnr:512\", \"Ferguson Desirae (Desirae.Ferguson@mailinator.com) vatnr:768\"]",
       "mail":"Graiden.Faulkner@mailinator.com",
       "name":"Graiden Faulkner"
    }
}}
<div id="shopping_cart-cashiers-section" class="container-flvatnr">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header p-0">
                    {{#userid}}
                        <div class="text-center bg-primary text-white">
                            <h2 class="label label-info">{{name}}</h2>
                            <p>{{useremail}}</p>
                        </div>
                    {{/userid}}
                    {{^userid}}
                        <div class="text-center bg-primary text-white">
                            <h2 class="label label-info">{{#str}} nouserselected, local_shopping_cart {{/str}}</h2>
                            <p> {{#str}} selectuser, local_shopping_cart {{/str}} </p>
                        </div>
                    {{/userid}}
                    <ul class="nav m-0 {{#moodleversionminfourtwo}}{{.}}{{/moodleversionminfourtwo}}"
                        id="cashiertabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {{^userid}}active{{/userid}} {{#userid}}success{{/userid}}"
                                    id="user-tab" data-toggle="" role="tab" aria-controls="user-tab"
                               aria-selected="true" href="{{wwwroot}}/local/shopping_cart/cashier.php">
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <span class="nav-link {{#userid}}active{{/userid}} {{^userid}}disabled{{/userid}} disabled"
                                id="cart-tab" data-toggle="tab" role="tab" aria-controls="cart" aria-selected="false"></span>
                        </li>
                        <li class="nav-item" role="presentation">
                            <span class="nav-link disabled" id="checkout-tab" data-toggle="tab" role="tab" aria-controls="checkout" aria-selected="false"></span>
                        </li>
                        <li class="nav-item" role="presentation">
                            <span class="nav-link disabled" id="success-tab" data-toggle="tab" role="tab" aria-controls="success" aria-selected="false"></span>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        {{! 1. Tab which lets you chose the user }}
                        <div class="tab-pane fade {{^userid}}show active{{/userid}}" id="user" role="tabpanel" aria-labelledby="user-tab">
                            <div class="shopping-cart-autocomplete">
                                {{{selectuserform}}}
                            </div>
                        </div>
                        {{! 2. Tab which lets you chose the item }}
                        <div class="tab-pane fade {{#userid}}show active{{/userid}}" id="cart" role="tabpanel" aria-labelledby="cart-tab">
                            <div class="d-flex flex-row-reverse">
                                <a class="btn btn-primary" id="checkout-btn" data-toggle="tab" href="#checkout" role="button" aria-controls="checkout">{{#str}}
                                    checkout, local_shopping_cart {{/str}}</a>
                            </div>
                            <p class="additonalcashiersection">
                                {{#additonalcashiersection}}
                                    {{{additonalcashiersection}}}
                                {{/additonalcashiersection}}
                            </p>
                        </div>
                        {{! 3. Tab before checkout }}
                        <div class="tab-pane fade" id="checkout" role="tabpanel" aria-labelledby="checkout-tab">´
                            <div class="row">
                                <div class="col-md-12 cashier-list-price-container">
                                    <div class="shopping-cart-cashier-items-container">
                                        {{> local_shopping_cart/shopping_cart_items }}
                                    </div>
                                    <div class="sc_price_label" data-userid="{{userid}}">
                                        {{> local_shopping_cart/price_label }}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a class="btn btn-danger d-block my-4 mx-2" id="shoppingcart-cancel-btn" data-toggle="tab"
                                   role="button" aria-controls="shoppingcart-cancel-btn"><i class="fa fa-times" aria-hidden="true"> </i>
                                   {{#str}} cancel, core {{/str}}</a>
                                <a class="btn btn-success d-block my-4 mx-2 btn_cashpayment buy-btn" id="cashpayment-btn" data-paymenttype="3" data-toggle="tab" href="#success"
                                   role="button" aria-controls="cashpayment-btn"><i class="fa fa-check-square-o" aria-hidden="true"> </i>
                                   {{#str}} paidwithcash, local_shopping_cart {{/str}}</a>
                                <a class="btn btn-success d-block my-4 mx-2 btn_creditcardpayment buy-btn" id="creditcardpayment-btn" data-paymenttype="5" data-toggle="tab" href="#success"
                                   role="button" aria-controls="creditcardpayment-btn"><i class="fa fa-check-square-o" aria-hidden="true"> </i>
                                   {{#str}} paidwithcreditcard, local_shopping_cart {{/str}}</a>
                                <a class="btn btn-success d-block my-4 mx-2 btn_debitcardpayment buy-btn" id="debitcardpayment-btn" data-paymenttype="4" data-toggle="tab" href="#success"
                                   role="button" aria-controls="debitcardpayment-btn"><i class="fa fa-check-square-o" aria-hidden="true"> </i>
                                   {{#str}} paidwithdebitcard, local_shopping_cart {{/str}}</a>
                                {{#allowmanualrebooking}}
                                    <a class="btn btn-warning d-block my-4 mx-2 btn_cashiermanualrebook" id="cashiermanualrebook-btn" data-paymenttype="7" data-toggle="tab" href="#success"
                                        role="button" aria-controls="cashiermanualrebook-btn"><i class="fa fa-check-square-o" aria-hidden="true"> </i>
                                        {{#str}} cashiermanualrebook, local_shopping_cart {{/str}}</a>
                                {{/allowmanualrebooking}}
                            </div>
                        </div>
                        {{! 4. Tab to show success }}
                        <div class="tab-pane fade" id="success" role="tabpanel" aria-labelledby="success-tab">
                            <div class="row">
                                <div class="col">
                                    <div>
                                        <div class="payment_message_result text-center"></div>
                                        <p>
                                            <div class="shopping-cart-cashier-items-container">
                                                {{> local_shopping_cart/shopping_cart_items }}
                                            </div>
                                        </p>
                                        <a href="{{wwwroot}}/local/shopping_cart/receipt.php?id=" id="printbtn" class="btn btn-success"><i class="fa fa-2x fa-print"></i> Print</a>
                                        <a href="{{wwwroot}}/local/shopping_cart/cashier.php" class="btn btn-success">{{#str}} restart, local_shopping_cart {{/str}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{^userid}}
        {{! Without userid sidebar contains only report links. }}
            <div class="col-md-4">
                <div id="shopping-cart-reports" class="card">
                    <div class="card-header text-center bg-primary text-white">
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <b class="d-block">{{#str}} reports, local_shopping_cart {{/str}}</b>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-secondary cash-report-btn" href="{{wwwroot}}/local/shopping_cart/report.php">
                            <i class="fa fa-table" aria-hidden="true"></i> {{#str}} cashreport, local_shopping_cart {{/str}}
                        </a>
                    </div>
                </div>
                <div id="shopping-cart-cashout" class="card mt-2">
                    <div class="card-header text-center bg-primary text-white">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <b class="d-block">{{#str}} cashout, local_shopping_cart {{/str}}</b>
                    </div>
                    <div class="card-body">
                        <div class="btn btn-secondary shopping-cart-cashout-button">
                            <i class="fa fa-money" aria-hidden="true"></i> {{#str}} cashout, local_shopping_cart {{/str}}
                        </div>
                        {{#allowcashtransfer}}
                        <div class="btn btn-secondary shopping-cart-cashtransfer-button">
                            <i class="fa fa-exchange" aria-hidden="true"></i> {{#str}} cashtransfer, local_shopping_cart {{/str}}
                        </div>
                        {{/allowcashtransfer}}
                    </div>
                </div>
            </div>
        {{/userid}}
        {{#userid}}
        {{! Sidebar with cart items and history items }}
            <div class="col-md-4">
                <div id="shopping_cart-cashiers-cart" class="card">
                    <div class="card-header text-center bg-primary text-white">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <b class="d-block">Shopping Cart</b>
                    </div>
                    <div class="shopping-cart-cashier-items-container">
                        {{> local_shopping_cart/shopping_cart_items }}
                    </div>
                </div>

                <div id="shopping-cart-reports" class="card mt-4">
                    <div class="card-header text-center bg-primary text-white">
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <b class="d-block">{{#str}} reports, local_shopping_cart {{/str}}</b>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-secondary" href="{{wwwroot}}/local/shopping_cart/report.php">
                            <i class="fa fa-table" aria-hidden="true"></i> {{#str}} cashreport, local_shopping_cart {{/str}}
                        </a>
                    </div>
                </div>

                {{! We use the card with the history items more than once. }}
                {{> local_shopping_cart/history_card }}
            </div>
        {{/userid}}
    </div>
</div>
{{#js}}
    require(['local_shopping_cart/cashier'], function(fn) {
        fn.init({{userid}});
    });
    require(['local_shopping_cart/cashout'], function(fn) {
        fn.init();
    });
{{/js}}
