{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/shopping_cart_popover

    This template will render the shopping_cart popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
       "count":1,
       "maxitems":"10",
       "items":[
          {
             "itemid":1,
             "itemname":"my test item 1",
             "price":10,
             "currency":"EUR",
             "componentname":"local_shopping_cart",
             "description":"item description",
             "imageurl":"http:\/\/localhost\/400_moodle\/local\/shopping_cart\/pix\/edu.png",
             "canceluntil":1669192848,
             "serviceperiodstart":1667983248,
             "serviceperiodend":1670575248
          }
       ],
       "price":10,
       "initialtotal":10,
       "deductible":0,
       "checkboxid":"eacee3",
       "usecredit":1,
       "expirationdate":1667984148,
       "checkouturl":"http:\/\/localhost\/400_moodle\/local\/shopping_cart\/checkout.php",
       "currency":"EUR",
       "credit":0,
       "remainingcredit":0,
       "discount":0,
       "mail":"info@edulabs.org",
       "name":"HeidelindeBogner",
       "userid":"2",
       "historyitems":[

       ],
       "canpayback":true,
       "identifier":"1667983317",
       "successurl":"http:\/\/localhost\/400_moodle\/local\/shopping_cart\/checkout.php?success=1&identifier=1667983317"
    }
}}

{{#success}}
    {{> local_shopping_cart/checkout_success }}
{{/success}}
{{#failed}}
    {{> local_shopping_cart/checkout_failed }}
{{/failed}}

{{^finished}}
<div class="checkoutgrid checkout">
   <div class="container-fluid">
      <ul class="list-group">
        {{#cartisempty}}
            <div class="alert alert-warning" role="alert">
                {{#str}} cartisempty, local_shopping_cart {{/str}}
            </div>
        {{/cartisempty}}
         {{#items}}
         <li id="item-{{componentname}}-{{itemid}}-check" data-sc_itemid="{{itemid}}" data-item="shopping_cart_item" data-component="{{componentname}}" class="list-group-item">
            <div class="row">
               <div class="col-md-2">
                    {{#imageurl}}
                        <img alt="Image of cart item: {{itemname}}" class="w-100" src="{{.}}">
                    {{/imageurl}}
                    {{^imageurl}}
                        <img alt="Image of cart item: {{itemname}}" class="w-100" src="{{wwwroot}}/local/shopping_cart/pix/cart.png">
                    {{/imageurl}}
               </div>
               <div class="col">
                   <span class="item-name"><i class="fa fa-futbol-o" aria-hidden="true"></i> {{itemname}}</span>
                   <span class="pull-right ml-2"><i class="fa fa-trash-o shopping-cart-lighter-text" aria-hidden="true" data-id="item-{{componentname}}-{{itemid}}"></i></span>
                   <span class="item-price pull-right"> {{price}} {{currency}}</span><br>
                   <div class="item-description">{{{description}}}</div>
               </div>
            </div>
         </li>
         {{/items}}
      </ul>
   </div>
   <ul class="shopping-cart-items">
    <li class="user-card mb-2">
        <h2>{{name}}</h2><p>
        {{mail}}
        </p>
    </li>
        {{#items}}
        {{> local_shopping_cart/shopping_cart_item }}
        {{/items}}
        {{^cartisempty}}
        <li class="sc_price_label" data-userid="{{userid}}">
            {{> local_shopping_cart/price_label }}
        </li>
        {{! <a href="#" class="btn btn-primary pull-right mr-3">Procceed with payment <i class="fa fa-chevron-right"></i></a></li> }}
        <li> {{> local_shopping_cart/payment_region }} </li>
        {{/cartisempty}}
   </ul>
    <div class="card mt-4">
        <div class="card-header text-center bg-primary text-white">
            <i class="fa fa-history fa-2x" aria-hidden="true"></i>
            <b class="d-block">{{#str}} previouspurchases, local_shopping_cart {{/str}}</b>
        </div>
        <div class="card-body">
            <div class="history">
                <ul class="list-group cashier-history-items">
                    {{> local_shopping_cart/credit_item }}
                    {{#historyitems}}
                        {{> local_shopping_cart/history_item }}
                    {{/historyitems}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{/finished}}

{{#js}}
    require(['local_shopping_cart/shistory'], function(shistory) {
      shistory.init({{cancelationfee}});
    });
{{/js}}
