{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/shopping_cart_popover

    This template will render the shopping_cart popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
       "historyitems":[
           {
              "id":"3",
              "userid":"2309",
              "itemid":"2",
              "itemname":"my test item 2",
              "price":"10.00",
              "discount":"0.00",
              "currency":"EUR",
              "componentname":"local_shopping_cart",
              "area":"main",
              "identifier":"1668028796",
              "payment":"3",
              "paymentstatus":"2",
              "usermodified":"2",
              "timecreated":"1668028796",
              "timemodified":"1668028796",
              "canceluntil":"1669238378",
              "serviceperiodstart":"0",
              "serviceperiodend":"0",
              "gateway":null,
              "date":"2022-11-09",
              "canceled":false,
              "canceluntilstring":"2022-11-23",
              "canceluntilalert":"Stornieren ist nicht m\u00f6glich.",
              "buttonclass":"disabled hidden",
              "paymentstring":"in bar an der Kassa"
           }
       ]
    }

}}
<div class="row">
    <div class="col-md-12 mx-auto mt-5 text-center">
        <i class="fa fa-check-circle fa-5x text-info"  aria-hidden="true"></i>
    </div>
    <div class="col-md-12 mx-auto mt-5 text-center">
        <h1>{{#str}} paymentsuccessful, local_shopping_cart {{/str}}</h1>
        <p>{{#str}} paymentsuccessfultext, local_shopping_cart {{/str}}</p>
    </div>
</div>
<div class="col-md-12 mx-auto mt-5">
    <div class="card payment payment-success">
        <div class="card-body">
                <h2>Order Details</h2>
                <ul class="list-group">
                    {{#historyitems}}
                        <li class="list-group-item flex-column align-items-start text-dark">
                            <div class="d-flex w-100 justify-content-between">
                                <h5>{{itemname}}</h5>

                                {{> local_shopping_cart/item_price }}
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <p><small>{{date}}</small>
                            </div>
                        </li>
                    {{/historyitems}}
                </ul>
            <div class="selectedaddresses mt-4">
                {{#selected_addresses}}
                    <div class="selectedaddress">
                        {{> local_shopping_cart/address_singleline }}
                    </div>
                {{/selected_addresses}}
            </div>
            <br/>
            <a href="../../my" class="btn btn-info">{{#str}} backtohome, local_shopping_cart {{/str}}</a>
        </div>
    </div>
</div>
