{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/shopping_cart_popover

    This template will render the shopping_cart popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
        "userid": 3,
        "urls": {
            "preferences": "http://www.moodle.com"
        }
    }

}}

<div class="row">
   <div class="col-md-6 mx-auto mt-5">
       <div class="card payment payment-success">
       <div class="card-header payment_header text-white">
            <h3>AdminUser</h3>
            <h4>winkler_t@gmx.at</h4>
       </div>
       <div class="card-body">
        <ul class="shopping-cart-items">
            {{#items}}
                {{> local_shopping_cart/shopping_cart_item }}
            {{/items}}
        </ul>
           <h1 class="text-center"><b>354 </b></h1>
           <p class="pull-right"><a href="#" class="btn btn-success" data-action="cachiercheckout">checkout</a></p>
       </div>
       </div>
   </div>
</div>
