{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shopping_cart/checkout

    This template will render the shopping cart checkout pate.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
       "count":1,
       "maxitems":"10",
       "wwwroot":"http:\/\/localhost\/400_moodle\/"
    }
}}


<div class="shopping-cart-checkout-manager-alert-container">
    {{#validationmessage}}
        <div class="shopping-cart-checkout-manager-alert shopping-cart-checkout-manager-alert-success">
            <i class="fa fa-check-circle"></i>
            {{validationmessage}}
        </div>
    {{/validationmessage}}

    {{#errormessage}}
        <div class="shopping-cart-checkout-manager-alert shopping-cart-checkout-manager-alert-error">
            <i class="fa fa-exclamation-circle"></i>
            {{errormessage}}
        </div>
    {{/errormessage}}
</div>


<style>
    .shopping-cart-checkout-manager-alert {
        padding: 1rem;
        margin-top: 1rem;
        border-radius: 5px;
        font-size: 1rem;
        display: flex;
        align-items: center;
    }

    .shopping-cart-checkout-manager-alert-success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
    }

    .shopping-cart-checkout-manager-alert-error {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }

    .shopping-cart-checkout-manager-alert i {
        margin-right: 0.5rem;
        font-size: 1.2rem;
    }
</style>