{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/shopping_cart_popover

    This template will render the shopping_cart popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
        "userid": 3,
        "urls": {
            "preferences": "http://www.moodle.com"
        }
    }

}}
<style>


.fa-futbol-o {
    color: var(--success) !important;
}

.checkout .row:nth-child("even") {
    background: ABB0BE;
}

.lighter {
  color: #ABB0BE;
}

.checkoutgrid {
  display: grid; 
  grid-template-columns: 2fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 10px 10px; 
  grid-template-areas: 
    "checkout proceed"; 
}
.checkout { grid-area: checkout; }
.proceed { grid-area: proceed; }
.proceed ul {
  list-style-type: none;
  padding:10px;
}
.checkoutgrid .checkout ul.list-group {
  padding: 0px;
}
.secondarynavigation {
  display: none;
}

.payment
	{
		border:1px solid #f2f2f2;
        border-radius:20px;
        background:#fff;
	}
.payment.payment-success .payment_header
   {
	   background:var(--success);
	   padding:20px;
       border-radius:20px 20px 0px 0px;
	   
   }
.payment.payment-failure .payment_header  
{
	   background:var(--danger);
	   padding:20px;
       border-radius:20px 20px 0px 0px;
	   
   } 
   .check
   {
	   margin:0px auto;
	   width:50px;
	   height:50px;
	   border-radius:100%;
	   background:#fff;
	   text-align:center;
   }
   
   .check i
   {
	   vertical-align:middle;
	   line-height:50px;
	   font-size:30px;
   }

    .content 
    {
        text-align:center;
    }

    .content  h1
    {
        font-size:25px;
        padding-top:25px;
    }

    .content a
    {
        width:200px;
        height:35px;
        color:#fff;
        border-radius:30px;
        padding:5px 10px;
        background:var(--success);
        transition:all ease-in-out 0.3s;
    }

    .content a:hover
    {
        text-decoration:none;
        background:#000;
    }
</style>

<div class="checkoutgrid checkout">

   <div class="container-fluid">
    {{#success}}
    {{> local_shopping_cart/checkout_success }}
    {{/success}}
    {{#failed}}
    {{> local_shopping_cart/checkout_cachier }} 
    {{> local_shopping_cart/checkout_failed }} 
    {{/failed}}

      <ul class="list-group">
         {{#items}}
         <li id="item-{{componentname}}-{{itemid}}" class="list-group-item">    
            <div class="row">
               <div class="col-md-2">
                  <img class="w-100" src="/local/shopping_cart/pix/cart.png">
               </div>
               <div class="col"> 
               <span class="item-name"><i class="fa fa-futbol-o" aria-hidden="true"></i> {{itemname}}</span> 
               <span class="pull-right ml-2"><i class="fa fa-trash-o lighter-text" aria-hidden="true" onclick="alert('delete')"></i></span>
               <span class="item-price pull-right"> {{price}} </span><br> 
               <span class="lighter"><i class="fa fa-clock-o" aria-hidden="true"></i>  Do 9:00 - 10:00</span><span class="pull-right"><i class="fa fa-map-o" aria-hidden="true"></i>  {{item.location}} </span><br><span class="lighter"> {{item.shortsummary}} </span>
               </div>
            </div>
            <div>
               {{{description}}}
            </div>
            
         </li>
         {{/items}}
      </ul>
   </div>
   <ul class="shopping-cart-items">
    <li class="user-card mb-2">
        <h2>{{name}}</h2><p>
        {{mail}}
        </p>
</li>
      {{#items}}
         {{> local_shopping_cart/shopping_cart_item }} 
      {{/items}}
      <li id="litotalprice" class="text-right"> <span>Total:<span id="totalprice">{{price}}</span>€</span></li>
      {{! <a href="#" class="btn btn-primary pull-right mr-3">Procceed with payment <i class="fa fa-chevron-right"></i></a></li> }}
     <li> {{> local_shopping_cart/payment_region }} </li>
   </ul>
</div>