{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shopping_cart/checkout

    This template will render the shopping cart checkout pate.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
       "count":1,
       "maxitems":"10",
       "wwwroot":"http:\/\/localhost\/400_moodle\/"
    }
}}


<div
    class="shopping-cart-checkout-manager-buttons"
>
  {{#checkout_manager_body.buttons.previous_button}}
    <button
      class="btn btn-secondary shopping-cart-checkout-manager-previousbutton"
      {{#hidden}}style="display: none;"{{/hidden}}
      data-action="previous"
      data-currentstep="{{checkout_manager_body.currentstep}}"
    >
      {{text}}
    </button>
  {{/checkout_manager_body.buttons.previous_button}}

  {{#checkout_manager_body.buttons.next_button}}
    <button
      class="btn btn-primary shopping-cart-checkout-manager-nextbutton"
      {{#hidden}}style="display: none;"{{/hidden}}
      {{#disabled}}disabled{{/disabled}}
      data-action="next"
      data-currentstep="{{checkout_manager_body.currentstep}}"
    >
      {{text}}
    </button>
  {{/checkout_manager_body.buttons.next_button}}
</div>

<style>
.shopping-cart-checkout-manager-buttons {
  margin-top: 20px;
  text-align: center;
}
</style>

{{#js}}
    require(['local_shopping_cart/checkout_manager'], function(checkoutManager) {
    checkoutManager.init();
    });

{{/js}}
