{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/shopping_cart_popover

    This template will render the shopping_cart popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
   {
      "id":"2",
      "userid":"2309",
      "itemid":"1",
      "itemname":"my test item 1",
      "price":"10.00",
      "tax":"2.00",
      "discount":"0.00",
      "currency":"EUR",
      "componentname":"local_shopping_cart",
      "identifier":"1668028796",
      "payment":"3",
      "paymentstatus":"2",
      "usermodified":"2",
      "timecreated":"1668028796",
      "timemodified":"1668028796",
      "canceluntil":"1669238377",
      "serviceperiodstart":"0",
      "serviceperiodend":"0",
      "gateway":null,
      "date":"2022-11-09",
      "canceled":false,
      "canceluntilstring":"2022-11-23",
      "canceluntilalert":"Stornieren ist nicht m\u00f6glich.",
      "buttonclass":"disabled hidden",
      "paymentstring":"in bar an der Kassa",
      "receipturl":"https://www.wunderbyte.at/"
   }
}}
<li class="list-group-item flex-column align-items-start text-dark">
    <div class="d-flex w-100 justify-content-between">
        <h5>{{itemname}}</h5>
        {{> local_shopping_cart/item_price }}
    </div>
    <div class="d-flex w-100 justify-content-between">
        <p><span><small>{{date}}</small></span></p>
        <p><span><small>{{#str}} paid, local_shopping_cart {{/str}} {{paymentstring}}</small></span></p>
    </div>
    {{#gateway}}
    <p>
        <span><small>Payment gateway: <b>{{gateway}}</b></small></span>
        {{#orderid}}
            <br><a data-toggle="collapse" href="#collapseOrderid{{id}}" role="button" aria-expanded="false" aria-controls="collapseOrderid{{id}}">
                    <small>{{#str}} showorderid, local_shopping_cart {{/str}}</small>
            </a>
            <div class="collapse" id="collapseOrderid{{id}}">
                <div class="card card-body mb-3 bg-light">
                    {{orderid}}
                </div>
            </div>
        {{/orderid}}
    </p>
    {{/gateway}}
    <p>
        <span class="canceluntilalert">
            {{canceluntilalert}}
        </span>
    </p>
    {{^canceled}}
    <a href="{{{receipturl}}}" target="_blank" class="shopping_cart_history_receipt_button btn btn-primary btn-sm pull-left">
        <i class="fa fa-th-list" aria-hidden="true"></i>&nbsp;{{#str}} receipt, local_shopping_cart {{/str}}
    </a>
    {{/canceled}}
    {{> local_shopping_cart/button_cancel }}
    {{#showrebooking}}
    <button type="button"
        class="shopping_cart_history_rebook_button btn btn-sm pull-left {{#rebooking}}btn-warning{{/rebooking}} {{^rebooking}}btn-primary{{/rebooking}}"
        data-historyid="{{id}}"
        data-componentname="{{componentname}}"
        data-area="{{area}}"
        data-itemid="{{itemid}}"
        data-userid="{{userid}}"
        data-canceled="{{canceled}}"
        data-currency="{{currency}}"
        data-price="{{price}}"
        data-round="{{round}}"
        data-quotaconsumed="{{quotaconsumed}}">
        <i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;
        {{#rebooking}}
            {{#str}} markedforrebooking, local_shopping_cart {{/str}}
        {{/rebooking}}
        {{^rebooking}}
            {{#str}} markforrebooking, local_shopping_cart {{/str}}
        {{/rebooking}}
    </button>
    {{/showrebooking}}
</li>
