{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shopping_cart/shopping_cart_items

    This template will render items container of the shopping cart

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
    	"items": [
            {
                "itemid": 3,
                "userid":3588,
                "componentname": "mod_booking",
                "area": "main",
                "price": 133,
                "expirationtime": 1642155164,
                "itemname": "Tenniscourse",
                "currency": "EUR",
                "iscashier": false,
                "nodelete": false
    	    }
        ],
    	"initialtotal": 8,
    	"currency": "EUR"
    }
}}

<div class="shopping-cart-items">
    {{#items}}
        {{> local_shopping_cart/shopping_cart_item }}
    {{/items}}
    {{^items}}
        <div class="text-center">{{#str}} cartisempty, local_shopping_cart {{/str}}</div>
    {{/items}}
    <div class="sc_initialtotal">

        {{! price have tax info}}
        {{#taxesenabled}}
            {{#initialtotal_net}}
                <div class="text-right">
                <span>
                    {{#str}} total_net, local_shopping_cart {{/str}}
                </span>
                <span class="font-weight-bold">
                    {{initialtotal_net}}
                    {{currency}}
                </span>
                </div>
            {{/initialtotal_net}}
            <div class="text-right">
                <span>
                    {{#str}} total, local_shopping_cart {{/str}}
                </span>
                <span class="font-weight-bold">
                    {{initialtotal}}
                    {{currency}}
                </span>
                <!-- This is only to fix indentation -->
                <span class="pull-right">
                    <i class="fa fa-fw pl-5" aria-hidden="true"></i>
                </span>
            </div>
        {{/taxesenabled}}

        {{! prices without tax information }}
        {{^taxesenabled}}
            <div class="text-right">
                <span>
                    {{#str}} total, local_shopping_cart {{/str}}
                </span>
                <span class="font-weight-bold">
                    {{initialtotal}}
                    {{currency}}
                </span>
                <!-- This is only to fix indentation -->
                <span class="pull-right">
                    <i class="fa fa-fw pl-5" aria-hidden="true"></i>
                </span>
            </div>
        {{/taxesenabled}}
    </div>
</div>
