{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/shopping_cart_popover

    This template will render the shopping_cart popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
        "userid": 3,
        "urls": {
            "preferences": "http://www.moodle.com"
        }
    }

}}

{{< core/popover_region }}
    {{$classes}}popover-region-shopping_carts{{/classes}}
    {{$attributes}}id="nav-shopping_cart-popover-container" data-userid="{{userid}}"{{/attributes}}

    {{$togglelabel}}}{{/togglelabel}}
    {{$togglecontent}}
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <div id="itemcount" class="count-container {{^count}}hidden{{/count}}" data-region="count-container"
        aria-label="{{count}}">{{count}}</div>
    {{/togglecontent}}

    {{$containerlabel}}{{/containerlabel}}

    {{$headertext}}
        <i class="fa fa-3x fa-shopping-cart" aria-hidden="true"></i>
        <span id="countbadge" class="badge">{{count}}</span>
        <span class="expirationdate" data-expirationdate = '{{expirationdate}}'>[{{expirationdate}}]</span>
        <div class="shopping-cart-total">
        </div>
    {{/headertext}}
    {{$content}}
    <h4 class="p-2">{{#str}} mycart, local_shopping_cart {{/str}} </h4>
    <div class="shopping-cart-items-container">
        <ul class="shopping-cart-items">
            {{#items}}
            {{> local_shopping_cart/shopping_cart_item }}
            {{/items}}
            <li id="litotalprice_navbar"> <span class="pull-right">{{#str}} total, local_shopping_cart {{/str}} <span class="totalprice">{{price}}</span>{{currency}}</span></li>
        </ul>
    </div>
    <a href="/local/shopping_cart/checkout.php" class="btn btn-primary p-3 d-block mx-4">{{#str}} checkout, local_shopping_cart {{/str}} <i class="fa fa-chevron-right"></i></a>
    {{/content}}
{{/ core/popover_region }}
{{#js}}
require(['jquery', 'core/popover_region_controller', 'core/ajax', 'local_shopping_cart/cart'], function($, controller, Ajax, cart) {
    cart.init({{expirationdate}}, {{maxitems}});
    var container = $('#nav-shopping_cart-popover-container');
    var controller = new controller(container);
    controller.registerListNavigationEventListeners();
});
{{/js}}
