{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/shopping_cart_popover

    This template will render the shopping_cart popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
        "userid": 3,
        "urls": {
            "preferences": "http://www.moodle.com"
        }
    }

}}
<style>
.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: #333;
}

#nav-shopping_cart-popover-container .container {
  margin: auto;
  width: 80%;
}

#addtocart {
  width: 250px;
}

.badge {
      padding: 2px;
    border-radius: 2px;
    background-color: red;
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    position: absolute;
    top: 2px;
    left: 45px;
}
 .test{
  background-color: red;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 10px;
      position: absolute;
    left: 18px;
    top: 8px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  background: white;
  width: 320px;
  position: absolute;
  top: 30px;
  right: -10px;
  border-radius: 3px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform-origin: right top 0;
  -webkit-transform: scale(0);
  transform-origin: right top 0;
  transform: scale(0);
}
.shopping-cart.active {
  opacity: 1;
  -webkit-transform-origin: right top 0;
  -webkit-transform: scale(1);
  transform-origin: right top 0;
  transform: scale(1);
}
.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 10px;
}
.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
  max-width: 70px;
  max-height: 70px;
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-detail {
  display: block;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
nav-shopping_cart-popover-container .shopping-cart .shopping-cart-items .item-price {
  color: #333;
  margin-right: 8px;
}
#nav-shopping_cart-popover-container .item-time {
  color: #ABB0BE;
}

#nav-shopping_cart-popover-container .button:hover {
  background: #f87f1b;
}
#nav-shopping_cart-popover-container .button i {
  padding-left: 5px;
}

#nav-shopping_cart-popover-container li {
  padding-bottom: 5px;
  border-bottom: 1px #333 dashed;
  list-style-type: none;
  max-width: 90%;
  margin: auto;
}

#nav-shopping_cart-popover-container li:last-child {
  border: none;
}

#nav-shopping_cart-popover-container ul {
  padding: 5px !important;
}
#nav-shopping_cart-popover-container .popover-region-header-container {
    height: 45px;
}
.popover-region-header-container .fa-shopping-cart, .fa-futbol-o {
    color: var(--success) !important;
}
#nav-shopping_cart-popover-container .popover-region-content-container,#nav-shopping_cart-popover-container .popover-region-container {
  height: unset;
  padding-bottom: 10px; 
}
#nav-shopping_cart-popover-container .see-all-link {
  display: none;
}
</style>
{{< core/popover_region }}
    {{$classes}}popover-region-shopping_carts{{/classes}}
    {{$attributes}}id="nav-shopping_cart-popover-container" data-userid="{{userid}}"{{/attributes}}

    {{$togglelabel}}}{{/togglelabel}}
    {{$togglecontent}}
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <div id="itemcount" class="count-container {{^count}}hidden{{/count}}" data-region="count-container"
        aria-label="{{count}}">{{count}}</div>
    {{/togglecontent}}

    {{$containerlabel}}{{/containerlabel}}

    {{$headertext}}<i class="fa fa-3x fa-shopping-cart" aria-hidden="true"></i><span id="countbadge" class="badge">{{count}}</span><div class="shopping-cart-total">

          </div>{{/headertext}}

    {{$content}}
<ul class="shopping-cart-items">
          {{#item}}
          <li id="item-{{id}}" class="clearfix" data-price='{{price}}' data-name='{{name}}'>
            <span class="item-name"><i class="fa fa-futbol-o" aria-hidden="true"></i> {{name}}</span>
             <span class="item-price pull-right">{{price}}€</span>
   
            <br>
            {{#expirationdate}}<span class="item-time pl-3">[<span id="time-item-{{id}}" ></span>]</span>{{/expirationdate}}
                       <span class="pull-right"><i class="fa fa-trash-o lighter-text" data-id="item-{{id}}"></i></span>
            
          </li>
          {{/item}}
          <li id="litotalprice"> <span class="pull-right">Total: <span id="totalprice">{{price}}</span>€</span></li>
        </ul>
        <a href="#" class="btn btn-primary addrandom ml-3"><i class="fa fa-plus"></i></a>
        <a href="#" class="btn btn-primary pull-right mr-3">Checkout <i class="fa fa-chevron-right"></i></a>
    {{/content}}
{{/ core/popover_region }}
{{#js}}   
require(['jquery', 'core/popover_region_controller', 'core/ajax', 'local_shopping_cart/cart'], function($, controller, Ajax, cart) {
    cart.init();
    var container = $('#nav-shopping_cart-popover-container');
    var controller = new controller(container);
    //controller.registerEventListeners();
    controller.registerListNavigationEventListeners();
});


function deleteItem(item) {
  document.querySelector('#' + item).style.display = 'none';
  document.querySelector('#' + item).remove();
}

function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}


window.onload = function () {
    let delta = 0;
    let now = Date.now('UTC');
    {{#item}}
    {{#expirationdate}}
    now = (new Date()).getTime() / 1000;
    expirationdate = {{expirationdate}};
    delta = (expirationdate - now);
    if (delta < 0) {
      delta = 0;
    }
    display = document.querySelector('#time-item-{{id}}');
    startTimer(delta, display);
    {{/expirationdate}}
    {{/item}}
};
{{/js}}
