{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shopping_cart/userinfocard

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    Example context (json):
    {
        "user": {
            "id": 123,
            "picture": "urltopicture.png",
            "firstname": "John",
            "lastname": "Doe",
            "email": "john.doe@example.com"
        }
    }
}}
{{#user}}
    <div class="userinfocard userinformation card">
        <div class="card-body row">
            <div class="col-2">
                {{{picture}}}
            </div>
            <div class="col-10">
                <h3 class="card-title d-inline-block">{{firstname}} {{lastname}}</h3><span class="text-muted ml-3 d-inline-block">(ID: {{id}})</span>
                <h5 class="card-subtitle mb-2 text-muted">{{email}}   </h5>
                <div class="card-text">
                    {{#additionaldata}}
                        <div class="{{key}}-field">
                            <b>{{{key}}}:</b> {{{value}}}
                        </div>
                    {{/additionaldata}}
                </div>
            </div>
        </div>
    </div>
{{/user}}
